{% extends "homepage.html" %}

{% block content %}

<form method="post">
	<div class="form-group">
		<label for="passwordfield">Password: </label>
		<input type="password" class="form-control" id="passwordfield" name="password">
		<small id="password error" class="form-text text-muted error">{{error}}</small>
	</div>
	<div class="form-group">
		<label for="verifyfield">Verify Password: </label>
		<input type="password" class="form-control" id="verifyfield" name="verify">
	</div>
	<input type="submit" class="btn btn-default">
</form>

{% endblock %}