{% extends "homepage.html" %}

{% block content %}

<form method="post">
	<div class="form-group">
		<label for="titleinput">Title: </label>
		<input type="text" name="title" class="form-control" id="titleinput" value="{{post.title}}">
		<small id="error" class="form-text text-muted error">{{error}}</small>
	</div>
	<div class="form-group">
		<label for="bodyinput">Body: </label>
		<textarea name="body" rows="20" id="bodyinput"class="form-control">{{post.body | safe}}</textarea>
	</div>
	<input type="submit" class="btn btn-default">
</form>

{% endblock %}