{% extends "homepage.html" %}

{% block content %}

<div>
	{% for i in posts %}
		<div>
			<div>
				<div>
					<a href="/blog/postpage/{{i.key().id()}}">{{i.title}}</a>
				</div>
				<div>
					{{i.create_user}}
				</div>
				<div>
					{{i.create_date.strftime('%b %d, %Y')}}
				</div>
			</div>
			<div>
				{{i.body}}
			</div>
			<div>
				{{i.likes}}
			</div>
			{% if current_user.username == i.create_user %}
				<div>
					<form action="/blog/editpost/{{i.key().id()}}">
						<input type="submit" value="Edit Post">
					</form>
					<form action="/blog/deletepost/{{i.key().id()}}">
						<input type="submit" value="Delete Post">
					</form>
				</div>
				{% endif %}
			<div>
				{% if current_user.username != i.create_user %}
						<div><a href="/blog/likepost/{{i.key().id()}}">Like</a></div>
				{% endif %}
		</div>
		<br><br><hr>
	{% endfor %}
</div>


{% endblock %}