{% extends "homepage.html" %}

{% block content %}

{% for i in posts %}
	<div>
		<div>
			<div>
				<a href="/blog/postpage/{{i.key().id()}}">{{i.title}}</a>
			</div>
			<div>
				{{i.create_user}}
			</div>
			<div>
				{{i.create_date.strftime('%b %d, %Y')}}
			</div>
		</div>
		<div>
			{{i.body}}
		</div>
		<div>
			{{i.likes}}
		</div>
		<div>
			<form action="/blog/editpost/{{i.key().id()}}">
				<input type="submit" value="EDIT POST">
			</form>
			<form action="/blog/deletepost/{{i.key().id()}}">
				<input type="submit" value="DELETE POST">
			</form>
		</div>
		<div>
	</div>
{% endfor %}

{% endblock %}