{% extends "homepage.html" %}

{% block content %}

<div>
	<div>
		<div>
			{{post.title}}
		</div>
		<div>
			{{post.create_user}}
		</div>
		<div>
			{{post.create_date.strftime('%b %d, %Y')}}
		</div>
	</div>
	<div>
		{{post.body}}
	</div>
	<div>
		{{post.likes}}
	</div>
	<div>
		{% if user.username == post.create_user %}
			<form action="/blog/editpost/{{post.key().id()}}">
				<input type="submit" value="EDIT POST">
			</form>
			<form action="/blog/deletepost/{{post.key().id()}}">
				<input type="submit" value="DELETE POST">
			</form>
		{% endif %}
	</div>
		{% if user.username != post.create_user %}
			{% if user.username not in post.like_users %}
				<div>
					<a href="/blog/likepost/{{post.key().id()}}">Like</a>
				</div>
			{% else %}
			<div>
				<p>You liked this post</p>
			</div>
			{% endif %}
		{% endif %}
		{% if user.username %}
			<a href="/blog/comment/{{post.key().id()}}">Comment</a>
		{% endif %}
	<div>
		<ul>
		{% for i in post.like_users %}
			<li>{{i}}</li>
		{% endfor %}
		<ul>
		{% for i in comments %}
			<li><a href="/blog/viewcomment/{{i.key().id()}}">{{i.create_user}} WRITES: {{i.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}