{% extends "homepage.html" %}

{% block content %}

<div>
	<div>
		<div>
			{{post.title}}
		</div>
		<div>
			{{post.create_user}}
		</div>
		<div>
			{{post.create_date.strftime('%b %d, %Y')}}
		</div>
	</div>
	<div>
		{{post.body}}
	</div>
	<div>
		{{post.likes}}
		{% if hist_error %}
			{{hist_error}}
		{% endif %}
		{% if own_post_error %}
			{{own_post_error}}
		{% endif %}
		{% if login_error %}
			{{login_error}}
		{% endif %}
	</div>
	<div>
		{% for i in post.like_users %}
			<h1>{{i}}</h1>
		{% endfor %}
	</div>
</div>

{% endblock %}