{% extends "homepage.html" %}

{% block content %}

{% if not admin_made %}
<div class="row">
	<form action="/blog/genadmin">
		<input type="submit" value="MAKE ADMIN" class="btn btn-primary">
	</form>
</div>
{% endif %}

<form method ="post">
	<div class="form-group">
		<label for="usernameinput">Username: </label>
		<input type="text" class="form-control" id="usernameinput" name="username" value="{{username}}">
		<small id="usernameerror" class="form-text text-muted error">{{username_error}}</small>
		<small id="usernamedupeerror" class="form-text text-muted error">{{dupe_error}}</small>
	</div>
	<div class="form-group">
		<label for="passwordinput">Password: </label>
		<input type="password" class="form-control" id="passwordinput" name="password" value="">
		<small id="passworderror" class="form-text text-muted error">{{password_error}}</small>
	</div>
	<div class="form-group">
		<label for="verifyinput">Verify Password:  </label>
		<input type="password" class="form-control" id="verifyinput" name="verify" value="">
		<small id="verifyerror" class="form-text text-muted error">{{verify_error}}</small>
	</div>
	<div class="form-group">
		<label for="emailinput">Email: </label>
		<input type="text" name="email" class="form-control" id="emailinput" value="{{email}}">
		<small id="emailerror" class="form-text text-muted error">{{email_error}}</small>
	</div>
	<input type="submit" class="btn btn-default">
</form>

{% endblock %}
